<html xmlns:th="http://thymeleaf.org">
	<head>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" rel="stylesheet"integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
		<title>New Task</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>	
	<body> 
		<h2 class="row justify-content-center"> Edit Tasks</h2>
		<form action=" " th:action="@{/todo}" th:object="${todoDto}" method="post" id="NewForm" name="NewForm" style="margin: 5em 5em 0em 5em;">
			
			
			<!-- Task 0  Input -->
			<h3> Task 0 </h3>
			
			<div class="mb-3">
				<label for="Task0Name" class="form-label " style="margin-top: 1em">Task Name</label>
				<input type="text" class="form-control" id="Task0Name" th:field="${todoDto.task0.name}" name="Task0Name">
			</div>
			<div  class="mb-3">
				<label  for="Task0Comment" class="form-label">Task Comment</label>
				<input type="text" class="form-control" id="Task0Comment" th:field="${todoDto.task0.comment}"name="Task0Comment">
			</div>
			<div class="mb-3">
				<label for="Task0Priority" class="form-label ">Task Priority</label>
				<select class="form-control" id="Task0Priority" th:field="${todoDto.task0.priority}" name="Task0Priority">
					<option  value="NA">N/A</option>
					<option  value="top">top</option>
					<option  value="middle">middle</option>
					<option  value="bottom">bottom</option>
				</select>
				<small  id="PriorityHelp" class="form-text text-muted">
				Enter either top, middle, or bottom for priority of Task.
				</small>
			</div>
			<div class="mb-3">
				<label for="Task0DueDate" class="form-label ">Task Due Date</label>
				<input type="date" class="form-control" id="Task0DueDate" th:field="${todoDto.task0.dueDate}" name="Task0DueDate">
			</div>
			
			
			<!-- Task 1 Input -->
			<h3> Task 1 </h3>
			
			<div class="mb-3">
				<label for="Task1Name" class="form-label " style="margin-top: 1em">Task Name</label>
				<input type="text" class="form-control" id="Task1Name" th:field="${todoDto.task1.name}" name="Task1Name">
			</div>
			<div  class="mb-3">
				<label  for="Task1Comment" class="form-label">Task Comment</label>
				<input type="text" class="form-control" id="Task1Comment" th:field="${todoDto.task1.comment}"name="Task1Comment">
			</div>
			<div class="mb-3">
				<label for="Task1Priority" class="form-label ">Task Priority</label>
				<select class="form-control" id="Task1Priority" th:field="${todoDto.task1.priority}" name="Task1Priority">
					<option  value="NA">N/A</option>
					<option  value="top">top</option>
					<option  value="middle">middle</option>
					<option  value="bottom">bottom</option>
				</select>
				<small  id="PriorityHelp" class="form-text text-muted">
				Enter either top, middle, or bottom for priority of Task.
				</small>
			</div>
			<div class="mb-3">
				<label for="Task1DueDate" class="form-label ">Task Due Date</label>
				<input type="date" class="form-control" id="Task1DueDate" th:field="${todoDto.task1.dueDate}" name="Task1DueDate">
			</div>
			
			
			<!-- Task 2 Input -->
			<h3> Task 2 </h3>
			
			<div class="mb-3">
				<label for="Task2Name" class="form-label " style="margin-top: 1em">Task Name</label>
				<input type="text" class="form-control" id="Task2Name" th:field="${todoDto.task2.name}" name="Task2Name">
			</div>
			<div  class="mb-3">
				<label  for="Task2Comment" class="form-label">Task Comment</label>
				<input type="text" class="form-control" id="Task2Comment" th:field="${todoDto.task2.comment}"name="Task2Comment">
			</div>
			<div class="mb-3">
				<label for="Task2Priority" class="form-label ">Task Priority</label>
				<select class="form-control" id="Task2Priority" th:field="${todoDto.task2.priority}" name="Task2Priority">
					<option  value="NA">N/A</option>
					<option  value="top">top</option>
					<option  value="middle">middle</option>
					<option  value="bottom">bottom</option>
				</select>
				<small  id="PriorityHelp" class="form-text text-muted">
				Enter either top, middle, or bottom for priority of Task.
				</small>
			</div>
			<div class="mb-3">
				<label for="Task2DueDate" class="form-label ">Task Due Date</label>
				<input type="date" class="form-control" id="Task2DueDate" th:field="${todoDto.task2.dueDate}" name="Task2DueDate">
			</div>
			
			
			<!-- Task 3 Input -->
			<h3> Task 3 </h3>
			
			<div class="mb-3">
				<label for="Task3Name" class="form-label " style="margin-top: 1em">Task Name</label>
				<input type="text" class="form-control" id="Task3Name" th:field="${todoDto.task3.name}" name="Task3Name">
			</div>
			<div  class="mb-3">
				<label  for="Task3Comment" class="form-label">Task Comment</label>
				<input type="text" class="form-control" id="Task3Comment" th:field="${todoDto.task3.comment}"name="Task3Comment">
			</div>
			<div class="mb-3">
				<label for="Task3Priority" class="form-label ">Task Priority</label>
				<select class="form-control" id="Task3Priority" th:field="${todoDto.task3.priority}" name="Task3Priority">
					<option  value="NA">N/A</option>
					<option  value="top">top</option>
					<option  value="middle">middle</option>
					<option  value="bottom">bottom</option>
				</select>				<small  id="PriorityHelp" class="form-text text-muted">
				Enter either top, middle, or bottom for priority of Task.
				</small>
			</div>
			<div class="mb-3">
				<label for="Task3DueDate" class="form-label ">Task Due Date</label>
				<input type="date" class="form-control" id="Task3DueDate" th:field="${todoDto.task3.dueDate}" name="Task3DueDate">
			</div>
			
			
			<!-- Task 4 Input -->
			<h3> Task 4 </h3>
			
			<div class="mb-3">
				<label for="Task4Name" class="form-label " style="margin-top: 1em">Task Name</label>
				<input type="text" class="form-control" id="Task4Name" th:field="${todoDto.task4.name}" name="Task4Name">
			</div>
			<div  class="mb-3">
				<label  for="Task4Comment" class="form-label">Task Comment</label>
				<input type="text" class="form-control" id="Task4Comment" th:field="${todoDto.task4.comment}"name="Task4Comment">
			</div>
			<div class="mb-3">
				<label for="Task4Priority" class="form-label ">Task Priority</label>
				<select class="form-control" id="Task4Priority" th:field="${todoDto.task4.priority}" name="Task4Priority">
					<option  value="NA">N/A</option>
					<option  value="top">top</option>
					<option  value="middle">middle</option>
					<option  value="bottom">bottom</option>
				</select>
				<small  id="PriorityHelp" class="form-text text-muted">
				Enter either top, middle, or bottom for priority of Task.
				</small>
			</div>
			<div class="mb-3">
				<label for="Task4DueDate" class="form-label ">Task Due Date</label>
				<input type="date" class="form-control" id="Task4DueDate" th:field="${todoDto.task4.dueDate}" name="Task4DueDate">
			</div>
		<button type="submit" class="btn btn-primary" id="Save" style="margin-top: 6em">Save</button>
		</form>
	<script  type="text/javascript" src="/js/newtask.js"></script>
	</body>
</html>