<html xmlns:th="http://thymeleaf.org">
	<nav class="navbar navbar-light bg-light" style="margin: 1em" >
		 <a class="navbar-brand" href="/" style="margin: auto">Home</a>
		 <a class="navbar-brand" href="/" style="margin: auto">Countdown</a>
		 <a class="navbar-brand" href="/todo" style="margin: auto">To-Do List</a>
	</nav>
	<head>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
		<title>
			TaskMaster To-do List
		</title>
	</head>
	<body>
		<div class="container">
			<h1 style="margin-top: 1em;">To-do List</h1>
			<h2 style="margin-top: 1em;">Please enter a task:</h2>
			<a href="todo/newtask">
				<button type="button" class="btn btn-Primary" id ="New Task"style="margin-top: 1em;">New Task</button>
			</a>	
			<div class="col-md" style="margin: 2em 25em">
        		<h3> To-Do:</h3>
    		</div>
  		</div>
	</body>
</html>